<br>
<button (click)="logoutUser()" style="margin-left: 97%;background-color: burlywood;font-weight: bolder;height: 40px; width: 80px;cursor:pointer;border-radius: 15px;">Logout</button>
<h1 style="color: rgb(22, 167, 216);text-align: center;font-size: 30px;font-weight: 700;font-style: italic;">Welcome Back Swaroop</h1><hr>
<div style="background-color:black;height: 50px;padding-top: 10px;">
    <button (click)="usercrud()" style="margin-left: 8.5%;background-color: burlywood;font-weight: bolder;cursor:pointer;padding-left: 20px;padding-right: 20px;border-radius: 10px;">User CRUD</button>
    <button (click)="admincrud()" style="margin-left: 12%;background-color: rgb(128, 74, 5);font-weight: bolder;cursor:pointer;padding-left: 20px;padding-right: 20px;border-radius: 10px;">Admin CRUD</button>
    <button (click)="todaybills()" style="margin-left: 12%;background-color: burlywood;font-weight: bolder;cursor:pointer;padding-left: 20px;padding-right: 20px;border-radius: 10px;">Today Bills</button>
    <button (click)="monthlybills()" style="margin-left: 12%;background-color: burlywood;font-weight: bolder;cursor:pointer;padding-left: 20px;padding-right: 20px;border-radius: 10px;">Montly Bills</button>
</div><hr>

<button (click)="getmenulist()" style="margin-left: 45%;background-color: burlywood;cursor:pointer;font-weight: bold;border-radius: 10px;">Get Menu list</button><hr>
<button type="button" (click)="additems()" style="margin-left: 46%;background-color: burlywood;cursor:pointer;font-weight: bold;border-radius: 10px;">Add Items</button><hr>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Item Id</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of temp">
                <td>{{item.id}}</td>
                <td>{{item.Itemname}}</td>
                <td>{{item.Itemprice}}</td>
                <td><button type="button" style="background-color: burlywood;cursor:pointer;font-weight: bold;border-radius: 10px;">Update</button> <button type="button" (click)="delete(item.id)" style="margin-left: 6%;background-color: burlywood;cursor:pointer;font-weight: bold;border-radius: 10px;">Delete</button></td>
                <td></td>  
            </tr>
        </tbody>
    </table>
  </div>