<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="color: rgb(191, 159, 14); font-weight: bold;font-size: 30px;">Surabhi Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link"  routerLink="/Admin" routerLinkActivate="active" style="color: rgb(191, 117, 14); font-weight: bold;margin-right: 80px;font-size: 30px;">Admin</a>
      <a class="nav-link"  routerLink="/User" routerLinkActivate="active" style="color: rgb(191, 117, 14); font-weight: bold;margin-right: 50px;font-size: 30px;">User</a>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
