
<br>
<h1 style="color: brown;text-align: center;font-size: 40px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: oblique;">Welcome Admin</h1>
<h1 style="color: brown;text-align: center;font-size: 20px; font-style: oblique;">Please login using your credentails</h1><hr><br>
<form #userlogin="ngForm"(ngSubmit)="LoginData(userlogin)" [formGroup]="reactiveFormlog">
    <div>
        <label for="Username" style="color: rgb(161, 105, 15);font-weight: bolder; margin-left: 44.5%; font-size: 20px;">Username</label><br>
        <input type="text" name="Username" ngModel formControlName="Username" style="width: 20%; border-radius: 10px;border-width: 5px;margin-left: 38.5%;"><br><br>
    </div>
    <div>
        <label for="Password" style="color: rgb(161, 105, 15);font-weight: bolder; margin-left: 44.5%; font-size: 20px;">Password</label><br>
        <input type="password" name="Password" ngModel formControlName="Password" style="width: 20%; border-radius: 10px;border-width: 5px;margin-left: 38.5%;"><br>
    </div><br>
    <div>
        <input type="submit" value="Login" [disabled]="reactiveFormlog.invalid" style="background-color:rgb(161, 105, 15);border-radius: 10px;border-width: 5px;margin-left: 44.5%;color: aliceblue;padding-left: 20px;padding-right: 20px;cursor:pointer;"><br>
    </div> 
</form>

