<br>
<h1 style="color: brown;text-align: center;font-size: 40px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: oblique;">Welcome User</h1>
<h1 style="color: brown;text-align: center;font-size: 20px; font-style: oblique;">Please login using your credentails</h1><hr><br>
<button (click)="Signin()" style="background-color:rgb(161, 105, 15);cursor:pointer;border-radius: 15px;border-width: 5px;margin-left: 28.5%;color: aliceblue;padding-left: 20px;padding-right: 20px;">Login</button>
<button (click)="Signup()" style="background-color:rgb(161, 105, 15);cursor:pointer;border-radius: 15px;border-width: 5px;margin-left: 26.5%;color: aliceblue;padding-left: 20px;padding-right: 20px;">Register</button>

